<!DOCTYPE html>
<html lang="en">
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Flipflop</title>
    <%= boostrap_css_include_tag %>
    <%= fontawesome_css_include_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
    <%= boostrap_js_include_tag %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.1.2/jquery.flip.js' %>
    <%= javascript_include_tag 'https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js' %>

  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




<%= render 'partials/menu' %>

  <!-- Content here -->

    <%= yield %>
 



  </body>
</html>
